body{
    /*background: rgb(34,41,53);*/
    background: rgb(0,0,0);
    color: #fff;
    margin: 0px;
    padding: 0px;
    /*font-family: Teko;*/
    font-family: Quicksand;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.header{
    height: 70px;
    width: 100%;
    /*background: #333;*/
    /*background: #fff;*/
    position: relative;
    margin: 0px auto;
}
.header div{
    float: left;
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 15px;
    line-height: 12px;
}

.header div:hover{
    /*opacity: 0.8;*/
}

#header_title{
    background: #374a62;
    /*background: #555;*/
    /*color: #000;*/
    margin: 0px 10px;
}
.matrix_score{
    margin: 0px 5px;
    padding: 0px !important;
    float: right;
}
#matrix_score{
    background: #374a62;
}
#matrix_score_display{
    background: #405872;
}
#matrix_start{
    /*background: #496583;*/
    background: #374a62;
    margin: 0px 5px;
    float: right;
    cursor: pointer;
}
#matrix_peek{
    /*background: #496583;*/
    background: #374a62;
    margin: 0px 5px;
    float: right;
    cursor: pointer;
}
.matrix_mode{
    margin: 0px 5px;
    padding: 0px !important;
    float: right;
}
#matrix_mode{
    background: #374a62;
}
#matrix_mode_a{
    background: #405872;
    cursor: pointer;
}
#matrix_mode_b{
    background: #496583;
    cursor: pointer;
}
#matrix_mode_c{
    background: #537293;
    cursor: pointer;
}
.matrix_level{
    margin: 0px 5px;
    padding: 0px !important;
}
#matrix_level{
    background: #374a62;
}
#matrix_level_sub{
    background: #537293;
    cursor: pointer;
}
#matrix_level_display{
    background: #405872;
}
#matrix_level_add{
    background: #537293;
    cursor: pointer;
}
.matrix_value_range{
    margin: 0px 5px;
    padding: 0px !important;
}
#matrix_value_range{
    background: #374a62;
}
#matrix_value_range_sub{
    background: #537293;
    cursor: pointer;
}
#matrix_value_range_display{
    background: #405872;
}
#matrix_value_range_add{
    background: #537293;
    cursor: pointer;
}

.game{
    height: 500px;
    width: 800px;
    padding: 50px;
    /*background: #fff;*/
    /*background: #0f171e;*/
    position: relative;
    margin: 0px auto;
    font-family: Quicksand;
}
#matrix{
    /*display: grid;*/
    height: 500px;
    width: 800px;
    table-layout: auto;
    border-collapse: collapse;
    /*grid-gap: 2px;*/
}
.matrix{
    color: #fff;
}
.matrix2{
    color: #fff !important;
    /*hsl(213, 28%, 19%)*/
}
#matrix td{
    width: 90px;
    height: 90px;
    /*background: rgb(20,21,25);*/
    background: #232f3e;
    background: hsl(213, 28%, 19%);
    /*border: 5px solid #0f171e;*/
    border: 5px solid #000;
    /*border: 2px solid #fff;*/
    /*box-shadow: #000 0px 0px 0px 2px inset;*/
    text-align: center;
    font-size: 40px;
    color: inherit;
    cursor: pointer;
    line-height: 90px;
    transition: background 100ms, color 500ms;
}

#matrix td:hover{
    opacity: 0.8;
}
