body{
    /*background: rgb(34,41,53);*/
    background: rgb(0,0,0);
    /*color: #fff;*/
    margin: 0px;
    padding: 0px;
    /*font-family: Teko;*/
    font-family: Quicksand;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgb(26,26,26);
}
 
::-webkit-scrollbar-track {
    background: rgb(26,26,26);
    width: 0px;
}
 
::-webkit-scrollbar-thumb {
    background: rgb(26,26,26);
    width: 0px;
}


/*---------------*/
/*MATRIX SIDEBAR*/
/*---------------*/
.matrix_sidebar{
    height: 100%;
    width: 90px;
    /*background: #333;*/
    /*background: #000;*/
    background: rgb(26,26,26);
    /*background: #fff;*/
    position: fixed;
    margin: 0px;
    z-index: 1000;
    color: #fff;
    overflow-y: scroll;
    /*border-right: #000 solid 2px;*/
}


#header_title{
    /*background: hsl(215, 60%, 35%);*/
    /*background: #555;*/
    background: #0071bc;
    /*color: #000;*/
    margin: 4px;
    padding: 10px 0px;
    cursor: pointer;
    width: 78px;
    text-align: center;
}

/*MATRIX OPTION*/

.matrix_sidebar_title{
    float: left;
    position: relative;
    width: 78px;
    height: 78px;
    line-height: 78px;
    padding: 0px;
    text-align: center;
    background: rgb(48,48,48);
    margin: 4px;
    cursor: pointer;
    color: rgb(47,161,214);
}

#matrix_timer{
    font-family: 'Roboto Mono', monospace;
    padding: 0px !important;
    height: 30px;
    line-height: 30px;
}
#matrix_score{
    padding: 0px !important;
    height: 30px;
    line-height: 30px;
    display: none;
}
#matrix_start{
    line-height: 18px;
    height: auto;
    padding: 19px 0px;
}
#matrix_start, #matrix_peek, #matrix_score, #matrix_settings_btn, #matrix_help_btn{
    /*background: rgb(48,48,48);*/
    /*color: rgb(47,161,214);*/
    /*cursor: pointer;*/
    /*padding: 40px 0px;*/
}
#matrix_score_display{
    /*background: hsl(215, 60%, 40%);padding: 10px 0px;margin: 0px 0px 0px 0px;*/
    /*padding: 0px !important;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    margin: 4px;
    text-align: center;
    background: rgba(48,48,48,0.8);
    height: 30px;
    margin: 4px;
    cursor: pointer;
    color: rgba(47,161,214, 1);
    line-height: 33px;
    visibility: hidden;
}






.matrix_subsidebar{
    position: fixed;
    z-index: 995;
    height: 100%;
    /*width: 270px;*/
    width: 460px;
    transform: translateX(-480px);
    margin: 0px 0px 0px 90px;
    /*padding: 4px;*/
    /*background: #2f2f2f;*/
    /*background: #212121;*/
    /*background: #323a45;*/
    /*background: hsl(205, 60%, 35%);*/
    /*background: #000;*/
    background: rgb(26,26,26);
    /*background: linear-gradient(to bottom, hsl(205, 100%, 20%) 0%, hsl(225, 100%, 20%) 100%);*/
    /*border-left: solid 10px #000;*/
    padding: 0px 0px 30px 10px;
    font-family: Quicksand;
    color: rgb(47,161,214);
    font-size: 20px;
    text-align: center;
    /*opacity: 0.8;*/
    overflow-y: scroll;
}
matrix_subsidebar_close_btn{
    /*position: fixed;*/
    /*right: 0px;*/
}
#matrix_settings{
    display: block;
    transition: transform 1s;
    /*transform: translateX(283px);*/
}
#matrix_settings_header{
    /*background: #374a62;*/
    /*background: hsl(205, 50%, 25%);*/
    background: #0071bc;
    margin: 0px 0px 0px 0px;
}
#matrix_option_lock{
    height: 40px;
    width: 80px;
    margin: -40px 0px 0px 370px;
    /*background: rgba(48,48,48,0.8);*/
    background: url("matrix_lock_locked.png");
    background-repeat: no-repeat;
    background-position: right;
    z-index: 996;
    position: absolute;
    cursor: pointer;
}
#matrix_option_lock:hover{
    opacity: 0.7;
}
.matrix_subsidebar_title{
    /*background: #374a62;*/
    background: #000;
    /*background: hsl(215, 60%, 35%);*/
    /*padding: 10px 0px;*/
    float: left;
    height: 40px;
    width: 450px;
    line-height: 40px;
    margin: 4px 0px;
    /*opacity: 0.7;*/
}
.matrix_options{
    float: left;
    position: relative;
    width: 78px;
    height: 78px;
    line-height: 78px;
    padding: 0px;
    text-align: center;
    background: rgb(48,48,48);
    margin: 4px;
    /*opacity: 0.5;*/
}
.mode{
    cursor: pointer;
    font-size: 18px;
    width: 141px;
}
.matrix_display{
    float: left;
    position: relative;
    width: 270px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    text-align: center;
    background: rgb(48,48,48);
    margin: 0px;
}
/*.matrix_options:hover{opacity: 0.7;}*/


/*#matrix_mode{background: #0000; border: solid 2px hsl(210, 100%, 35%); color: hsl(210, 100%, 35%);}*/
#matrix_time_sub, #matrix_time_add, #matrix_level_sub, #matrix_level_add, #matrix_range_sub, #matrix_range_add {
    cursor: pointer;
} 
#matrix_time_sub:hover, #matrix_time_add:hover, #matrix_level_sub:hover, #matrix_level_add:hover, #matrix_range_sub:hover, #matrix_range_add:hover {
    background: rgba(48,48,48,0.7);
} 



/*hsl(150, 27%, 15%);*/
/*hsl(150, 27%, 20%);*/
/*hsl(150, 27%, 25%);*/
/*hsl(150, 27%, 30%);*/

/*hsl(210, 100%, 35%)*/

.matrix_slider_ctn{
    width: 270px;
    float: left;
    margin: 4px;
    /*padding: 0px 8px 0px 8px;*/
    background: rgb(48,48,48);
}
.matrix_slider{
    -webkit-appearance: none;
    appearance: none;
    width: 270px;
    width: 270px;
    height: 46px;
    margin: 0px;
    padding: 0px 8px 10px 8px;
    /*background: rgb(24,24,24);*/
    /*background: rgb(48,48,48);*/
    background: linear-gradient(rgb(48,48,48) 12px, transparent 12px 34px, rgb(48,48,48) 34px 46px), repeating-linear-gradient(90deg, rgb(48,48,48), rgb(48,48,48) 4px, #4d4d4d 4px, #4d4d4d 5px);
    background-size:  100% 52px, 221px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0px, 22px;
    outline: none;
    /*opacity: 0.9;*/
    /*-webkit-transition: .2s;*/
    /*transition: opacity .2s;*/
}
.matrix_slider:hover{
    /*opacity: 1;*/
    background: linear-gradient(rgb(48,48,48) 12px, transparent 12px 34px, rgb(48,48,48) 34px 46px), repeating-linear-gradient(90deg, rgb(48,48,48), rgb(48,48,48) 4px, rgba(47,161,214,0.3) 4px, rgba(47,161,214,0.3) 5px);
    background-size:  100% 52px, 221px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0px, 22px;
}
.matrix_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background: rgb(47,161,214);
    /*background-image: linear-gradient(90deg, rgb(47,161,214) 0px 18px, rgba(47,161,214,0.7) 18px 21px, rgb(47,161,214) 21px 40px);*/
    background-image: linear-gradient(90deg, rgb(47,161,214) 0px 19px, #4d4d4d 19px 20px, rgb(47,161,214) 20px 40px);
    cursor: pointer;
    transition: background-image 1s ease-in;
}
.matrix_slider::-webkit-slider-thumb:hover {
    /*background-image: linear-gradient(90deg, rgb(47,161,214) 0px 19px, rgba(47,161,214,0.4) 19px 21px, rgb(47,161,214) 21px 40px);*/
}
.matrix_slider::-moz-range-thumb {
    width: 40px;
    height: 50px;
    /*background: rgb(39,39,39);*/
    background: rgb(47,161,214);
    cursor: pointer;
}

#matrix_level_slider{
    
}






#matrix_help{
    display: none;
}
#matrix_help_header{
    /*background: #374a62;*/
    /*background: hsl(205, 50%, 25%);*/
    background: #0071bc;
    margin: 0px 0px 0px 0px;
}







.game{
    height: auto;
    width: calc(100% - 150px);
    padding: 30px 0px 30px 0px;
    /*background: #fff;*/
    /*background: #0f171e;*/
    position: relative;
    margin: 0px 30px 0px 120px;
    font-family: Quicksand;
}
#matrix{
    /*display: grid;*/
    height: calc(100% - 60px);
    /*width: 98.9vh;*/
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    /*grid-gap: 2px;*/
}
/*.matrix{*/
    /*color: #fff;*/
/*}*/
/*.matrix2{*/
/*    color: #fff !important;*/
    /*hsl(213, 28%, 19%)*/
/*}*/


#matrix div{
    width: calc(9.2vw - 0px);
    min-width: 65px;
    height: calc(9.2vw - 0px);
    min-height: 65px;
    /*width: calc(10.9vh - 60px);*/
    /*min-width: 65px;*/
    /*height: calc(10.9vh - 60px);*/
    /*min-height: 65px;*/
    /*background: rgb(20,21,25);*/
    /*background: #232f3e;*/
    /*background: hsl(213, 28%, 19%);*/
    background: #6c8bac;
    /*border: 5px solid #0f171e;*/
    border: 5px solid #000;
    /*border: 2px solid #fff;*/
    /*box-shadow: #000 0px 0px 0px 2px inset;*/
    text-align: center;
    font-size: 40px;
    /*color: inherit;*/
    cursor: pointer;
    /*line-height: 90px;*/
    line-height: 9.5vw;
    /*transition: background 100ms, color 500ms;*/
    float: left;
}

#matrix td:hover{
    opacity: 0.8;
}
