body{
    /*background: rgb(34,41,53);*/
    background: rgb(0,0,0);
    /*color: #fff;*/
    margin: 0px;
    padding: 0px;
    /*font-family: Teko;*/
    font-family: Quicksand;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

.header{
    height: 100%;
    width: 90px;
    background: #333;
    /*background: #fff;*/
    position: fixed;
    margin: 0px;
    z-index: 1000;
    color: #fff;
}

.header div{
    /*float: left;*/
    /*width: auto;*/
    /*height: auto;*/
    font-size: 12px;
    /*padding: 15px;*/
    line-height: 12px;
    text-align: center;
}

.header div:hover{
    /*opacity: 0.8;*/
}

#header_title{
    background: #374a62;
    /*background: #555;*/
    /*color: #000;*/
    margin: 0px 0px 20px 0px;
    padding: 20px 0px;
}

/*MATRIX OPTION*/
.matrix_option{
    height: 64px;
}
.matrix_option_title{
    background: #374a62;
    padding: 10px 0px;
    margin: 5px 0px 0px 0px;
}
.matrix_options{
    cursor: pointer;
    float: left;
    position: relative;
    width: 30px;
    padding: 10px 0px;
    text-align: center;
}


#matrix_score{background: #374a62;}
#matrix_score_display{background: #405872;padding: 10px 0px;margin: 0px 0px 20px 0px;}
#matrix_start{background: #374a62;cursor: pointer;padding: 40px 0px;}
#matrix_peek{background: #374a62;cursor: pointer;margin: 5px 0px 20px 0px;padding: 40px 0px;}
#matrix_mode{background: #374a62;}
#matrix_mode_a{background: #405872;}
#matrix_mode_b{background: #496583;}
#matrix_mode_c{background: #537293;}
#matrix_level{background: #374a62;}
#matrix_level_sub{background: #537293;cursor: pointer;}
#matrix_level_display{background: #405872;cursor: default;}
#matrix_level_add{background: #537293;cursor: pointer;}
#matrix_value_range{background: #374a62;}
#matrix_value_range_sub{background: #537293;cursor: pointer;}
#matrix_value_range_display{background: #405872;cursor: default;}
#matrix_value_range_add{background: #537293;cursor: pointer;}

.game{
    height: auto;
    width: calc(100% - 150px);
    padding: 30px 0px 30px 0px;
    /*background: #fff;*/
    /*background: #0f171e;*/
    position: relative;
    margin: 0px 30px 0px 120px;
    font-family: Quicksand;
}
#matrix{
    /*display: grid;*/
    height: calc(100% - 60px);
    /*width: 98.9vh;*/
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    /*grid-gap: 2px;*/
}
/*.matrix{*/
    /*color: #fff;*/
/*}*/
/*.matrix2{*/
/*    color: #fff !important;*/
    /*hsl(213, 28%, 19%)*/
/*}*/


#matrix div{
    width: calc(9.2vw - 0px);
    min-width: 65px;
    height: calc(9.2vw - 0px);
    min-height: 65px;
    /*width: calc(10.9vh - 60px);*/
    /*min-width: 65px;*/
    /*height: calc(10.9vh - 60px);*/
    /*min-height: 65px;*/
    /*background: rgb(20,21,25);*/
    /*background: #232f3e;*/
    /*background: hsl(213, 28%, 19%);*/
    background: #6c8bac;
    /*border: 5px solid #0f171e;*/
    border: 5px solid #000;
    /*border: 2px solid #fff;*/
    /*box-shadow: #000 0px 0px 0px 2px inset;*/
    text-align: center;
    font-size: 40px;
    /*color: inherit;*/
    cursor: pointer;
    /*line-height: 90px;*/
    line-height: 9.5vw;
    /*transition: background 100ms, color 500ms; */
    float: left;
}

#matrix td:hover{
    opacity: 0.8;
}
