body{
    /*background: rgb(34,41,53);*/
    background: rgb(0,0,0);
    /*color: #fff;*/
    margin: 0px;
    padding: 0px;
    /*font-family: Teko;*/
    font-family: Quicksand;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

/*---------------*/
/*MATRIX SIDEBAR*/
/*---------------*/
.matrix_sidebar{
    height: 100%;
    width: 90px;
    /*background: #333;*/
    background: #000;
    /*background: #fff;*/
    position: fixed;
    margin: 0px;
    z-index: 1000;
    color: #fff;
    /*overflow-y: show;*/
    /*border-right: #000 solid 2px;*/
}
.matrix_sidebar div{
    /*float: left;*/
    /*width: auto;*/
    /*height: auto;*/
    font-size: 17px;
    /*padding: 15px;*/
    line-height: 12px;
    text-align: center;
}
.matrix_sidebar div:hover{
    /*opacity: 0.8;*/
}

#header_title{
    /*background: hsl(215, 60%, 35%);*/
    /*background: #555;*/
    background: #0071bc;
    /*color: #000;*/
    margin: 0px 0px 0px 0px;
    padding: 20px 0px;
    cursor: pointer;
}

/*MATRIX OPTION*/
.matrix_option{
    height: 64px;
}
.matrix_sidebar_title{
    background: #374a62;
    padding: 10px 0px;
    margin: 0px 0px 0px 0px;
}



#matrix_start{background: hsl(215, 60%, 35%);cursor: pointer;padding: 40px 0px;}
#matrix_peek{background: hsl(215, 60%, 45%);cursor: pointer;margin: 0px 0px 0px 0px;padding: 40px 0px;}
#matrix_score{background: hsl(215, 60%, 35%);}
#matrix_score_display{background: hsl(215, 60%, 40%);padding: 10px 0px;margin: 0px 0px 0px 0px;}
#matrix_settings_btn{background: hsl(215, 60%, 45%);padding: 40px 0px;cursor: pointer;}
#matrix_help_btn{background: hsl(215, 60%, 50%);padding: 40px 0px;cursor: pointer;}






.matrix_subsidebar{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 270px;
    transform: translateX(-283px);
    margin: 0px 0px 0px 90px;
    /*background: #2f2f2f;*/
    /*background: #212121;*/
    /*background: #323a45;*/
    /*background: hsl(205, 60%, 35%);*/
    background: #000;
    /*background: linear-gradient(to bottom, hsl(205, 100%, 20%) 0%, hsl(225, 100%, 20%) 100%);*/
    border-left: solid 10px #000;
    font-family: Quicksand;
    color: #fff;
    font-size: 20px;
    text-align: center;
    /*opacity: 0.8;*/
}
matrix_subsidebar_close_btn{
    /*position: fixed;*/
    /*right: 0px;*/
}
#matrix_settings{
    display: block;
    transition: transform 1s;
    /*transform: translateX(283px);*/
}
#matrix_settings_header{
    /*background: #374a62;*/
    /*background: hsl(205, 50%, 25%);*/
    background: #0071bc;
    margin: 0px 0px 0px 0px;
}
.matrix_subsidebar_title{
    background: #374a62;
    /*background: hsl(215, 60%, 35%);*/
    /*padding: 10px 0px;*/
    float: left;
    height: 40px;
    width: 270px;
    line-height: 40px;
    margin: 0px 0px 0px 0px;
    /*opacity: 0.7;*/
}
.matrix_options{
    cursor: pointer;
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    line-height: 90px;
    padding: 0px;
    text-align: center;
    /*opacity: 0.5;*/
}
/*.matrix_options:hover{opacity: 0.7;}*/


/*#matrix_mode{background: #0000; border: solid 2px hsl(210, 100%, 35%); color: hsl(210, 100%, 35%);}*/

#matrix_mode         {background: hsl(215, 60%, 35%);}
#matrix_mode_a       {background: hsl(215, 60%, 40%);font-size: 18px;}
#matrix_mode_a:hover{opacity: 0.7;}
#matrix_mode_b       {background: hsl(215, 60%, 45%);font-size: 18px;}
#matrix_mode_b:hover{opacity: 0.7;}
#matrix_mode_c       {background: hsl(215, 60%, 50%);font-size: 18px;}
#matrix_mode_c:hover{opacity: 0.7;}
#matrix_time         {background: hsl(215, 60%, 35%);cursor: pointer;}
#matrix_time_sub     {background: hsl(215, 60%, 40%);}
#matrix_time_sub:hover{opacity: 0.7;}
#matrix_time_display {background: hsl(215, 60%, 45%);cursor: pointer;}
#matrix_time_add     {background: hsl(215, 60%, 50%);}
#matrix_time_add:hover{opacity: 0.7;}
#matrix_level        {background: hsl(215, 60%, 35%);}
#matrix_level_sub    {background: hsl(215, 60%, 40%);cursor: pointer;}
#matrix_level_sub:hover{opacity: 0.7;}
#matrix_level_display{background: hsl(215, 60%, 45%);cursor: default;}
#matrix_level_add    {background: hsl(215, 60%, 50%);cursor: pointer;}
#matrix_level_add:hover{opacity: 0.7;}
#matrix_value_range  {background: hsl(215, 60%, 35%);}
#matrix_range_sub    {background: hsl(215, 60%, 40%);cursor: pointer;}
#matrix_range_sub:hover{opacity: 0.7;}
#matrix_range_display{background: hsl(215, 60%, 45%);cursor: default;}
#matrix_range_add    {background: hsl(215, 60%, 50%);cursor: pointer;}
#matrix_range_add:hover{opacity: 0.7;}

/*hsl(150, 27%, 15%);*/
/*hsl(150, 27%, 20%);*/
/*hsl(150, 27%, 25%);*/
/*hsl(150, 27%, 30%);*/

/*hsl(210, 100%, 35%)*/



#matrix_help{
    display: none;
}
#matrix_help_header{
    /*background: #374a62;*/
    /*background: hsl(205, 50%, 25%);*/
    background: #0071bc;
    margin: 0px 0px 0px 0px;
}







.game{
    height: auto;
    width: calc(100% - 150px);
    padding: 30px 0px 30px 0px;
    /*background: #fff;*/
    /*background: #0f171e;*/
    position: relative;
    margin: 0px 30px 0px 120px;
    font-family: Quicksand;
}
#matrix{
    /*display: grid;*/
    height: calc(100% - 60px);
    /*width: 98.9vh;*/
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    /*grid-gap: 2px;*/
}
/*.matrix{*/
    /*color: #fff;*/
/*}*/
/*.matrix2{*/
/*    color: #fff !important;*/
    /*hsl(213, 28%, 19%)*/
/*}*/


#matrix div{
    width: calc(9.2vw - 0px);
    min-width: 65px;
    height: calc(9.2vw - 0px);
    min-height: 65px;
    /*width: calc(10.9vh - 60px);*/
    /*min-width: 65px;*/
    /*height: calc(10.9vh - 60px);*/
    /*min-height: 65px;*/
    /*background: rgb(20,21,25);*/
    /*background: #232f3e;*/
    /*background: hsl(213, 28%, 19%);*/
    background: #6c8bac;
    /*border: 5px solid #0f171e;*/
    border: 5px solid #000;
    /*border: 2px solid #fff;*/
    /*box-shadow: #000 0px 0px 0px 2px inset;*/
    text-align: center;
    font-size: 40px;
    /*color: inherit;*/
    cursor: pointer;
    /*line-height: 90px;*/
    line-height: 9.5vw;
    /*transition: background 100ms, color 500ms;*/
    float: left;
}

#matrix td:hover{
    opacity: 0.8;
}
