@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
}

/* FONTS */
/* Regular */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}



body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    transition: all 0.5s ease;
}

header {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #000;
    margin-left: 0rem;
    text-align: center;
    height: 44px;
    width: calc(100% - 0rem);
    top: 0rem;
    border-radius: 0rem;
    z-index: 1000;
    transition: all 0.5s ease;
}

nav {
    backdrop-filter: blur(10px);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    height: 44px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    align-content: center;
}

ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}



/* transition: background-color 1s ease-in; */
/* transition: background-color 0.3s ease-out; */

li {
    list-style: none;
    display: inline-block;
    padding: 12px 0rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: transform 0.3s ease, color 0.3s ease;
}

li:hover {
    transform: scale(1.05);
    /* transform: scale(1.1) translateY(-2px) perspective(100px) rotateX(5deg); */
    cursor: pointer;
    /* color: #333; */
}

#nav-logo {
    background-image: url(./assets/lavwell-logo-black.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 20px;
    max-width: 100%;
} 

nav a {
    color: #000;
    text-decoration: none;
    padding: 12px 1rem;
    position: relative; /* Required for ::after positioning */
    z-index: 1001;
    
}

nav a:hover {
    background-image: url('./assets/text-animation.png'); 
    background-size: 200%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-animation 1.5s ease-in-out;
    transition: color 0.3s ease;
}

@keyframes text-animation {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


main {
    
}

#hero {
    background-color: transparent;
    color: #fff;
    display: block;
    position: relative;
    height: calc(100vh - 44px + 1rem);
    width: calc(100vw);
    top: calc(44px - 1rem);
}

#hero-video {
    background-color: transparent;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 2rem;
    object-fit: cover;
    z-index: 9;
}

#hero-content {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 10;
}

footer {
    background-color: #333;
    color: #fff;
    /* padding: 1rem; */
    text-align: center;
    position: relative;
    width: 100%;
    /* bottom: 0; */
}