/*body{*/
/*    margin: 100px;*/
/*    background-color: black;*/
/*}*/

/*.wrap {*/
/*	width: 100px;*/
/*	height: 100px;*/
/*	top: 100px;*/
	/*position: absolute;*/
/*	background-color: black;*/
/*}*/
/*.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9, .circle10{*/
/*    position: fixed;*/
/*    top: 100;*/
/*    color: red;*/
/*	height: 50px;*/
/*	width: 50px;*/
	
/*	opacity: .7;*/
		/*-webkit-animation: spin 5s infinite; /* Safari 4+ */
 /* -moz-animation:    spin 5s infinite; /* Fx 5+ */
  /*-o-animation:      spin 5s infinite; /* Opera 12+ */
/*	animation:         spin 10s infinite; /* IE 10+, Fx 29+ */
/*	animation-timing-function: linear;*/
/*}*/

/*.circle11, .circle12, .circle13, .circle14, .circle15, .circle16, .circle17, .circle18, .circle19, .circle20{*/
/*    position: fixed;*/
/*    top: 100;*/
/*    color: red;*/
/*	height: 20px;*/
/*	width: 20px;*/
/*	margin: 15px;*/
/*	opacity: .7;*/
		/*-webkit-animation: spin 5s infinite; /* Safari 4+ */
 /* -moz-animation:    spin 5s infinite; /* Fx 5+ */
  /*-o-animation:      spin 5s infinite; /* Opera 12+ */
/*	animation:         spin2 10s infinite; /* IE 10+, Fx 29+ */
/*	animation-timing-function: linear;*/
/*}*/

/*.circle1 {background-color: #8080ff; animation-delay: 0s;}*/
/*.circle2 {background-color: #6666ff; animation-delay: .1s;}*/
/*.circle3 {background-color: #4d4dff; animation-delay: .2s;}*/
/*.circle4 {background-color: #3333ff; animation-delay: .3s;}*/
/*.circle5 {background-color: #1a1aff; animation-delay: .4s;}*/
/*.circle6 {background-color: #0000ff; animation-delay: .5s;}*/
/*.circle7 {background-color: #0000e6; animation-delay: .6s;}*/
/*.circle8 {background-color: #0000cc; animation-delay: .7s;}*/
/*.circle9 {background-color: #0000b3; animation-delay: .8s;}*/
/*.circle10 {background-color: #000099; animation-delay: .9s;}*/

/*@-webkit-keyframes spin {*/
/*  0%   { opacity: 0; }*/
/*  100% { opacity: 1; }*/
/*}*/
/*@-moz-keyframes spin {*/
/*  0%   { opacity: 0; }*/
/*  100% { opacity: 1; }*/
/*}*/
/*@-o-keyframes spin {*/
/*  0%   { opacity: 0; }*/
/*  100% { opacity: 1; }*/
/*}*/



/*@keyframes spin {*/
/*  0% { transform: rotate(0deg) translateX(60px);}*/
/*  10% { transform: rotate(36deg) translateX(60px);}*/
/*  20% { transform: rotate(72deg) translateX(60px);}*/
/*  30% { transform: rotate(108deg) translateX(60px);}*/
/*  40% { transform: rotate(144deg) translateX(60px);}*/
/*  50% { transform: rotate(180deg) translateX(60px);}*/
/*  60% { transform: rotate(216deg) translateX(60px);}*/
/*  70% { transform: rotate(252deg) translateX(60px);}*/
/*  80% { transform: rotate(288deg) translateX(60px);}*/
/*  90% { transform: rotate(324deg) translateX(60px);}*/
/*  100% { transform: rotate(360deg) translateX(60px);}*/
/*}*/

/*@keyframes spin {*/
/*  0% { transform: rotate(0deg) translateX(60px);}*/
/*  10% { transform: rotate(36deg) translateX(60px);}*/
/*  20% { transform: rotate(72deg) translateX(60px);}*/
/*  30% { transform: rotate(108deg) translateX(60px);}*/
/*  40% { transform: rotate(144deg) translateX(60px);}*/
/*  50% { transform: rotate(180deg) translateX(60px);}*/
/*  60% { transform: rotate(216deg) translateX(60px);}*/
/*  70% { transform: rotate(252deg) translateX(60px);}*/
/*  80% { transform: rotate(288deg) translateX(60px);}*/
/*  90% { transform: rotate(324deg) translateX(60px);}*/
/*  100% { transform: rotate(360deg) translateX(60px);}*/
/*}*/


/*@keyframes spin {*/
/*from { 	transform: rotate(0deg) translateX(60px) rotate(36000deg); }*/
/*	to   {  transform: rotate(3600deg) translateX(60px) rotate(-36000deg); }*/
/*}*/



/*@keyframes spin {*/
/*from { 	transform: rotate(0deg) translateX(60px) rotate(3600deg); }*/
/*	to   {  transform: rotate(3600deg) translateX(60px) rotate(-3600deg); }*/
/*}*/
/*@keyframes spin2 {*/
/*from { 	transform: rotate(0deg) translateX(20px) rotate(3600deg); }*/
/*	to   {  transform: rotate(3600deg) translateX(20px) rotate(-3600deg); }*/
/*}*/





html, body, .wrap {
  height: 100%;
}

body {
  background: #000;
  overflow: hidden;
}

.wrap {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  opacity: .5;
  background-color: blue;
}


.circle:nth-child(1) {
  -webkit-transform: rotate(10deg) translateY(100px) rotate(0);
          transform: rotate(10deg) translateY(100px) rotate(0);
  -webkit-animation: spin1 10s infinite ease-in-out alternate;
          animation: spin1 10s infinite ease-in-out alternate;
}
        @-webkit-keyframes spin1 {
          100% {
            -webkit-transform: rotate(370deg) translateY(100px) rotate(40deg);
                    transform: rotate(370deg) translateY(100px) rotate(40deg);
          }
        }
        @keyframes spin1 {
          100% {
            -webkit-transform: rotate(370deg) translateY(100px) rotate(40deg);
                    transform: rotate(370deg) translateY(100px) rotate(40deg);
          }
        }
.circle:nth-child(2) {
  -webkit-transform: rotate(20deg) translateY(100px) rotate(0);
          transform: rotate(20deg) translateY(100px) rotate(0);
  -webkit-animation: spin2 10s infinite ease-in-out alternate;
          animation: spin2 10s infinite ease-in-out alternate;
}
        @-webkit-keyframes spin2 {
          100% {
            -webkit-transform: rotate(380deg) translateY(100px) rotate(80deg);
                    transform: rotate(380deg) translateY(100px) rotate(80deg);
          }
        }
        @keyframes spin2 {
          100% {
            -webkit-transform: rotate(380deg) translateY(100px) rotate(80deg);
                    transform: rotate(380deg) translateY(100px) rotate(80deg);
          }
        }
.circle:nth-child(3) {
  -webkit-transform: rotate(30deg) translateY(100px) rotate(0);
          transform: rotate(30deg) translateY(100px) rotate(0);
  -webkit-animation: spin3 10s infinite ease-in-out alternate;
          animation: spin3 10s infinite ease-in-out alternate;
}
        @-webkit-keyframes spin3 {
          100% {
            -webkit-transform: rotate(390deg) translateY(100px) rotate(120deg);
                    transform: rotate(390deg) translateY(100px) rotate(120deg);
          }
        }
        @keyframes spin3 {
          100% {
            -webkit-transform: rotate(390deg) translateY(100px) rotate(120deg);
                    transform: rotate(390deg) translateY(100px) rotate(120deg);
          }
        }
.circle:nth-child(4) {
  -webkit-transform: rotate(40deg) translateY(100px) rotate(0);
          transform: rotate(40deg) translateY(100px) rotate(0);
  -webkit-animation: spin4 10s infinite ease-in-out alternate;
          animation: spin4 10s infinite ease-in-out alternate;
}
        @-webkit-keyframes spin4 {
          100% {
            -webkit-transform: rotate(400deg) translateY(100px) rotate(160deg);
                    transform: rotate(400deg) translateY(100px) rotate(160deg);
          }
        }
        @keyframes spin4 {
          100% {
            -webkit-transform: rotate(400deg) translateY(100px) rotate(160deg);
                    transform: rotate(400deg) translateY(100px) rotate(160deg);
          }
        }