body{
    /*background-color: black;*/
    background-image: url("img/night scene 2.jpg");
    background-size: cover;
    /*background-position: top;*/
    background-attachment: fixed;
    overflow: hidden;
}
#cover{
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    background-image: url("img/hexagon2.png");
    /*background-size: 50%;*/
    /*background-position: top;*/
    /*background-attachment: fixed;*/
    background-repeat: repeat-x repeat-y;
    /*background-repeat: repeat-y;*/
    z-index: 1000 !important;
}

#test{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    /*opacity: .5;*/
    /*background: -webkit-radial-gradient(circle, blue, black);*/
    /*background: -o-radial-gradient(circle, blue, black);*/
    /*background: -moz-radial-gradient(circle, blue, black);*/
    background: radial-gradient(circle, #ffffff, #0000cc);
    background-image: url("img/night scene lines.png");
    background-size: cover;
    /*background-position: top;*/
    background-attachment: fixed;
    /*background-repeat: repeat-x repeat-y;*/
    z-index: 999 !important;
}